---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<h3>{{ page.subtitle }}</h3>
		<h6>{{ page.date | date: "%b %Y"  }}</h6>


{% if page.marketplace %}

		<a style="float:right" href="{{ page.marketplace_link }}" class="button button--large" target="_blank">{{ page.marketplace }} 
		<div class="icon bassline">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <path d="M288,0v32v32h114.7L201.4,265.4l0,0l45.3,45.3L448,109.3V224h32h32V32V0H288L288,0z M80,32H0v480h80h400v-80V288h-32h-32
			v144v16H64v-16V96h16h144V64V32H80L80,32z"/></svg>
		</div>
		</a> 
{% elsif page.external %}

		<a style="float:right" href="{{ page.external_link }}" class="button button--large" target="_blank">{{ page.external }} 
		<div class="icon bassline">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <path d="M288,0v32v32h114.7L201.4,265.4l0,0l45.3,45.3L448,109.3V224h32h32V32V0H288L288,0z M80,32H0v480h80h400v-80V288h-32h-32
			v144v16H64v-16V96h16h144V64V32H80L80,32z"/></svg>
		</div>
		</a> 
{% endif %}


<hr>
	</div>

</section>

<section class="single">

	{{ page.content }}


{% if page.marketplace %}

	<a style="float:right" href="{{ page.marketplace_link }}" class="button button--large" target="_blank">View in {{ page.marketplace }}
		<div class="icon bassline">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <path d="M288,0v32v32h114.7L201.4,265.4l0,0l45.3,45.3L448,109.3V224h32h32V32V0H288L288,0z M80,32H0v480h80h400v-80V288h-32h-32
			v144v16H64v-16V96h16h144V64V32H80L80,32z"/></svg>
		</div></a>

{% elsif page.external %}
	<a style="float:right" href="{{ page.external_link }}" class="button button--large" target="_blank">View {{ page.external }}
		<div class="icon bassline">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <path d="M288,0v32v32h114.7L201.4,265.4l0,0l45.3,45.3L448,109.3V224h32h32V32V0H288L288,0z M80,32H0v480h80h400v-80V288h-32h-32
			v144v16H64v-16V96h16h144V64V32H80L80,32z"/></svg>
		</div></a>
{% endif %}


</section>